#root {
  margin: 0 auto;
  text-align: center;
  border-style : solid;
}

.main-frame {
  display: flex;
  flex-direction: column;
  color : black;
  background-color: rgb(251, 251, 251);
  font-family: Ej-demilight;
  width: 100%;
  max-width: 390px;
}

b {
  font-family: Ej-heavy;
}

@media (max-width: 1400px) {
  .main-frame {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-start {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}


