#root {
  margin: 0 auto;
  text-align: center;
  border-style : solid;
  background-color: rgb(251, 251, 251); /* 명시적으로 배경색 설정 */
}

.main-frame {
  display: flex;
  flex-direction: column;
  color : black;
  background-color: rgb(251, 251, 251);
  font-family: Ej-demilight;
  width: 100%;
  max-width: 390px;
}

b {
  font-family: Ej-heavy;
}

@media (max-width: 1400px) {
  .main-frame {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-start {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}



.styled-button {
  background: linear-gradient(45deg, #f5c9c9, #e4b3c4);
  border: none;
  border-radius: 25px;
  color: white;
  margin-top : 20px;
  margin-left : 10px;
  margin-right : 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.styled-button:hover {
  background: linear-gradient(45deg, #f06595, #ff6b6b);
  transform: scale(1.05);
}

.styled-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}